{% extends "todo_app/base.html" %}

{% block title %} HOME PAGE {% endblock title %}

{% block content %}
    <div class="jumbotron jumbotron-fluid mt-3">
        <div class="container text-center">
            <h1 class="display-4">TO-DO List</h1>
            <p class="lead">Take a note..</p>
            <a href="{% url 'create' %}" type="button" class="btn btn-success">Create To-Do</a>
        </div>
    </div>
{% endblock content %}

{% block table %}
    <div class="table-responsive-md mt-5 align-middle">
        <table class="table table-hover push-center" style="width:650px">
            <thead>
            <tr>
                <th scope="col">To-Do List</th>
                <th scope="col">Status</th>
                <th scope="col">Date</th>
                <th scope="col">Delete</th>
                <th scope="col">Update</th>
            </tr>
            </thead>
            <tbody>
            {% for todo in todo_list %}
                <tr>
                     <!-- todo bittiyse üzerini çiz -->
                     {% if todo.is_finished %}
                        <td><del>{{ todo.title }}</del></td>
                         <td><a href="{% url 'done' todo.id %}" role="button" class="btn btn-secondary">Done</a></td>
                    {% else %}
                        <td>{{ todo.title }}</td>
                         <td><a href="{% url 'undone' todo.id %}" role="button" class="btn btn-warning">Undone</a></td>
                    {% endif %}
                    <td>{{ todo.date }}</td>
                    <!-- id sine göre silme işlemi yapar-->
                    <td><a href="{% url 'delete' todo.id %}" role="button" class="btn btn-outline-danger">Delete</a>
                    </td>
                    <td><a href="{% url 'update' todo.id %}" role="button" class="btn btn-outline-primary">Update</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock table %}



